Repository indico/indico-plugins-cern, pull requests merged in 2024-12, with the labels that each got.

#189 Ravem: Ignore Zoom Rooms + remove Vidyo stuff
  ravem/indico_ravem/controllers.py
  ravem/indico_ravem/plugin.py
  ravem/indico_ravem/util.py
  ravem/tests/util_test.py
Labels: ravem

#164 Add Labotel plugin
  labotel/README.md
  labotel/indico_labotel/__init__.py
  labotel/indico_labotel/blueprint.py
  labotel/indico_labotel/cli.py
  labotel/indico_labotel/client/js/components/BookRoomFormExtraFields.jsx
  labotel/indico_labotel/client/js/components/BootstrapOptions.jsx
  labotel/indico_labotel/client/js/components/ExtraFilters.jsx
  labotel/indico_labotel/client/js/components/LabRenderer.jsx
  labotel/indico_labotel/client/js/components/LabRenderer.module.scss
  labotel/indico_labotel/client/js/components/LabotelLanding.jsx
  labotel/indico_labotel/client/js/components/MapMarkers.jsx
  labotel/indico_labotel/client/js/components/MapMarkers.module.scss
  labotel/indico_labotel/client/js/components/Stats.jsx
  labotel/indico_labotel/client/js/components/StatsPage.jsx
  labotel/indico_labotel/client/js/components/StatsPage.module.scss
  labotel/indico_labotel/client/js/index.js
  labotel/indico_labotel/client/js/overrides.js
  labotel/indico_labotel/client/js/parametrized.jsx
  labotel/indico_labotel/client/styles/basePalette.scss
  labotel/indico_labotel/client/styles/palette.scss
  labotel/indico_labotel/controllers.py
  labotel/indico_labotel/migrations/.no-header
  labotel/indico_labotel/migrations/20240430_1420_3be5a6e16966_create_count_weekdays_function.py
  labotel/indico_labotel/models/__init__.py
  labotel/indico_labotel/models/count_weekdays.py
  labotel/indico_labotel/plugin.py
  labotel/indico_labotel/static/images/splash.jpg
  labotel/indico_labotel/template_overrides/core/rb/emails/reservations/creation_email_to_user.txt
  labotel/indico_labotel/template_overrides/core/rb/emails/reservations/reminders/finishing_bookings.html
  labotel/indico_labotel/util.py
  labotel/package-lock.json
  labotel/package.json
  labotel/pyproject.toml
  labotel/webpack-bundles.json
Labels: build-wheel

#190 ZoomRooms: Fix moving contrib with no room
  zoom_rooms/indico_zoom_rooms/handlers.py
Labels: build-wheel

#183 Allow custom reminders/times
  outlook/indico_outlook/calendar.py
  outlook/indico_outlook/migrations/20241117_1113_da9deaa182a4_update_user_setting.py
  outlook/indico_outlook/plugin.py
Labels: outlook
